.beautyview {
    background-color: #ffffff;
}

.beautyview .vbox1 {
    background-image: url(./images/gbg1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 906px;
    padding: 80px 20px 465px;
    margin-bottom: 10px;
}

.beautyview .vbox1 .wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.beautyview .vbox1 .wz {
    padding-top: 84px;
}

.beautyview .vbox1 .txts {
    color: #454953;
    font-size: 18px;
    overflow: hidden;
    padding-left: 50px;
    line-height: 1.8;
}

.beautyview .vbox2 {
    background-image: url(./images/gbg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 10px;
}

.beautyview .vbox2 .content {
    width: 670px;
    height: 1000px;
    background-color: rgba(255, 255, 255, .8);
}

.beautyview .vbox2 .ww {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 450px;
    margin: 0 auto;
}

.beautyview .vbox2 .timg {
    margin-bottom: 66px;
    text-align: center;
}

.beautyview .vbox2 .txts {
    color: #474747;
    font-size: 18px;
    line-height: 1.8;
}

.beautyview .vbox3 {
    background-image: url(./images/gbg3.png);
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% 100%;
    background-position: center bottom;
    padding: 188px 20px 196px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.beautyview .vbox3 .wrap {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.beautyview .vbox3 .timg {
    text-align: center;
    margin-bottom: 36px;
}

.beautyview .vbox3 .txts {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
}

.beautyview .vbox3 .pao {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 0 50px;
}