.honorwrap {
    padding: 106px 20px 84px;

    .wrap {
        max-width: 1084px;
        margin: 0 auto;
    }

    .years {
        width: 72px;
        padding: 42px 0;
        height: 660px;
        position: relative;

        .btn {
            width: 72px;
            text-align: center;
            height: 25px;
            line-height: 25px;
            position: absolute;
            left: 0;
            cursor: pointer;
            outline: none;
        }

        .prev {
            top: 0;
        }

        .next {
            bottom: 0;
        }
    }

    .imgs {
        padding-left: 50px;
        overflow: hidden;

        .ww {
            background-color: #fff;
            background-image: url(./images/hua.png);
            background-repeat: repeat-x;
            background-position: center bottom;
            padding: 66px 150px 75px;
            border-radius: 3px;
            min-height: 658px;
            position: relative;

            .leftimg,
            .rightimg {
                width: 40px;
                position: absolute;
                cursor: pointer;
                outline: none;
                margin-top: -20px;
                top: 50%;
            }

            .leftimg {
                left: 55px;
            }

            .rightimg {
                right: 55px;
            }

            .honorimgs {
                overflow: hidden;
                position: relative;

                li {
                    .img {
                        min-height: 300px;
                    }
                }

                .pagination {
                    position: absolute;
                    bottom: 10px;
                    left: auto;
                    right: 10px;
                    width: auto;

                    [class*='swiper-pagination-bullet-active'] {
                        background: #d43235;
                    }
                }
            }
        }

        img {
            width: 100%;
        }

        p {
            text-align: center;
            margin-top: 34px;
            font-size: 24px;
            color: #000000;
        }
    }

    .yearswiper {
        overflow: hidden;
        height: 100%;

        li {
            color: #505050;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            height: auto;
            margin-bottom: 51.5px;

            &.active {
                color: #d43235;
                font-size: 20px;
            }

            span {
                cursor: pointer;
            }
        }
    }
}