.invest_join {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(./images/joinbg0.png);
    padding: 44px 20px 78px;

    .wrap {
        max-width: 1280px;
        margin: 0 auto;
    }

    .copyright {
        color: #fff;

        a {
            color: #fff;
        }
    }

    .title {
        text-align: center;
        color: #c0494b;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .subtitle {
        text-align: center;
        color: rgba(0, 0, 0, .4);
        font-size: 30px;
        margin-bottom: 26px;

        span {
            color: #000;
        }
    }

    .wbox {
        background-color: rgba(255, 255, 255, .3);

        .tt {
            color: #202020;
            font-size: 22px;
        }
    }

    .wbox1 {
        padding: 32px 56px 20px;
    }

    .list {
        margin: 0 -70px;

        li {
            float: left;
            width: 33.3%;
            padding: 0 70px;
            margin-top: 36px;

            .num {
                float: left;
                font-size: 36px;
                color: #c0494b;
                width: 36px;
            }

            .con {
                overflow: hidden;
                padding-left: 12px;
            }

            .t1 {
                color: #202020;
                font-size: 22px;
                margin-bottom: 10px;
            }

            .brief {
                color: #777777;
                font-size: 16px;
                line-height: 1.8;
                height: 84px;
                overflow: hidden;
            }
        }
    }

    .listwrap {
        margin: 20px -10px;

        .wbox2 {
            float: left;
            width: 50%;
            padding: 0 10px;
        }

        .ww {
            padding: 52px 104px;
            background-color: rgba(255, 255, 255, .3);
            height: 280px;
        }

        .ss {
            margin-bottom: 20px;
            color: #333333;
            font-size: 24px;
            font-weight: bold;
        }

        .infos {
            color: #333333;
            font-size: 18px;
            line-height: 2;
        }

        .btns {
            a {
                display: inline-block;
                color: #333333;
                font-size: 18px;
                font-weight: bold;
                height: 47px;
                line-height: 47px;
                margin-right: 13px;
            }

            .on {
                color: #fff;
                background-color: #d43235;
                padding: 0 23px;
                border-radius: 47px;
            }
        }
    }
}