.development {
    overflow: hidden;
    width: 100%;

    .title {
        text-align: center;
        color: #c0494b;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .subtitle {
        color: #666666;
        font-size: 18px;
        text-align: center;
        line-height: 1.8;
        margin-bottom: 30px;
    }

    .dbox1 {
        padding: 76px 20px 116px;

        .wrap {
            max-width: 1280px;
            margin: 0 auto;
        }

        .img {
            text-align: center;
            margin-bottom: 34px;
            box-shadow: 0px 0px 12px 0px rgba(181, 181, 181, .6);
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                padding: 0 40px;
                display: flex;
                align-items: center;

                .num {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }

                .nn {
                    color: #d0393b;
                    font-size: 60px;
                    display: block;
                    margin-right: 6px;
                }

                .tt {
                    color: #d0393b;
                    font-size: 18px;

                    p:first-child {
                        font-size: 30px;
                        line-height: 20px;
                        height: 24px;
                    }

                    p:last-child {
                        padding-left: 4px;
                    }
                }

                .txts {
                    color: #333333;
                    font-size: 16px;
                    line-height: 1.8;
                    margin-left: 12px;
                }
            }
        }
    }

    .dbox2 {
        background-image: url(./images/dvbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 70px 20px 116px;

        .wrap {
            max-width: 1348px;
            margin: 0 auto;
        }

        .list {
            margin: 0 -16px;

            li {
                float: left;
                width: 33.3%;
                padding: 0 16px;

                .pic {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all ease .5s;
                    }
                }

                .ww {
                    box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, .6);

                    &:hover .pic img {
                        transform: scale(1.1);
                    }
                }

                .con {
                    background-color: #f7f6f6;
                    padding: 15px 42px;
                    display: flex;
                    align-items: center;
                    height: 90px;
                    overflow: hidden;
                }

                .ll {
                    display: flex;
                    align-items: center;
                }

                .num {
                    color: #c0494b;
                    font-size: 60px;
                    font-weight: bold;
                    margin-right: 6px;
                    line-height: 1;
                }

                .tt {
                    color: #c0494b;
                    font-size: 18px;
                    font-weight: bold;

                    p:first-child {
                        font-size: 30px;
                        height: 24px;
                        line-height: 20px;
                    }

                    p:last-child {
                        padding-left: 4px;
                    }

                    .none {
                        color: transparent;
                    }
                }

                .txts {
                    margin-left: 10px;
                    color: #333333;
                    font-size: 16px;
                }


            }
        }
    }

    .subtitle2 {
        margin-bottom: 56px;
    }

    .dbox3 {
        background-color: #fff;
        padding: 150px 20px 190px;

        .wrap {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        .left {
            width: 388px;
            flex-shrink: 0;
        }

        .title {
            text-align: left;
        }

        .title2 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 30px;
        }

        .subtitle {
            margin-bottom: 0;
            text-align: left;
        }

        .img {
            overflow: hidden;
            padding-left: 26px;
            flex: 1;

            img {
                width: 100%;
            }
        }

    }

    .dbox4 {
        padding: 120px 20px 110px;

        .wrap {
            display: flex;
            align-items: center;
            max-width: 1300px;
            margin: 0 auto;
        }

        .img {
            width: 590px;
            flex-shrink: 0;
        }

        .right {
            flex: 1;
            padding: 0 60px;
        }

        .title {
            text-align: left;
            margin-bottom: 40px;
        }

        .subtitle {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .dbox5 {
        padding: 208px 20px 0;
        background: url(./images/dvbg2.png) no-repeat center;
        background-size: cover;

        .wrap {
            max-width: 1098px;
            margin: 0 auto;
            padding-bottom: 180px;
        }

        .title {
            text-align: left;
        }

        .subtitle {
            text-align: left;
            margin-bottom: 0;
            max-width: 450px;
            color: #000000;
        }
    }
}