@font-face {
    font-family: 'agencyb';
    src: url('./AGENCYB.TTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'agencyr';
    src: url('./AGENCYR.TTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.latest_activity {
    width: 100%;
    overflow: hidden;
    background-color: #e8f0f7;

    .acbanner {
        padding: 140px 0 136px;
        // background-image: url(./images/index2.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;

        .wrap {
            max-width: 1340px;
            margin: 0 auto;
        }

        .tt1 {
            font-size: 171px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: center;
            color: #ffffff;
            font-family: 'agencyr' !important;
        }

        .tt2 {
            font-size: 96px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            margin-bottom: 30px;
            text-align: center;
            font-family: 'agencyb' !important;
        }

        .list {
            margin: 115px 0 0;
            padding: 0 20px;

            li {
                float: left;
                width: 25%;
                padding: 0 18px;

                .pic {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all ease .6s;
                    }
                }

                a {
                    text-decoration: none;
                }

                a:hover .pic img {
                    transform: scale(1.1);
                }

                .name {
                    font-size: 21px;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    padding: 10px 24px;

                    .nn {
                        color: #403f3f;
                        max-width: 70%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .num {
                        color: #cc0000;
                        max-width: 30%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.activity_brief {
    padding: 84px 0 42px;
    background-color: #e8f0f7;

    .wrap {
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .title {
        color: #323232;
        font-size: 40px;
        text-align: center;
        margin-bottom: 54px;
    }

    .state {
        color: #333333;
        font-size: 20px;
        line-height: 1.7;
        margin-bottom: 90px;
    }

    .aitem {
        margin: 0 -40px;

        li {
            width: 50%;
            float: left;
            padding: 0 15px;
            margin-bottom: 28px;
        }

        .ww {
            background-color: #fff;
            padding: 36px 45px;
            border-radius: 5px;
        }

        .num {
            color: #cc0000;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
            line-height: 1.2;

            span {
                font-size: 60px;
                display: inline-block;
                margin-right: 6px;
                font-weight: normal;
            }
        }

        .name {
            color: #333333;
            font-size: 30px;
            margin-bottom: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
        }

        .brief {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333333;
            font-size: 20px;
        }
    }

    .tips {
        color: #999999;
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 70px;
    }

    .couponlist {
        width: 850px;
        margin: 0 auto;
        border-radius: 5px;
        border-top: 1px solid #c3daf2;
        border-left: 1px solid #c3daf2;
        background-color: #fff;
        margin-bottom: 100px;

        td {
            text-align: center;
            padding: 15px 10px;
            border-bottom: 1px solid #c3daf2;
            border-right: 1px solid #c3daf2;
            color: #333333;
            font-size: 20px;
        }
    }

    .opentime {
        max-width: 850px;
        margin: 0 auto;

        .code {
            width: 177px;
            height: 177px;
            background-color: #fff;
            border-radius: 4px;
            padding: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .txts {
            color: #333333;
            font-size: 20px;
            line-height: 1.6;
            overflow: hidden;
            padding-left: 16px;
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .latest_activity {
        .acbanner {
            .tt1 {
                font-size: 110px;
                margin-bottom: 15px;
            }

            .tt2 {
                font-size: 64px;
            }

            .list {
                margin: 90px 0 0;

                li {
                    padding: 0 10px;
                }
            }
        }
    }
}