.service_network {
    padding: 46px 20px 30px;

    .wrap {
        max-width: 1000px;
        margin: 0 auto;
    }

    .map {
        height: 620px;
        width: 772px;
        margin: 0 auto 56px;
    }

    .search {
        width: 420px;
        height: 52px;
        margin: 0 auto;
        font-size: 0;
        border-radius: 4px;
        overflow: hidden;

        input {
            display: inline-block;
            width: 340px;
            background-color: #fff;
            height: 52px;
            padding: 0 15px;
            color: #333333;
            font-size: 16px;
            vertical-align: middle;

            &::-moz-placeholder,
            &::-ms-input-placeholder,
            &::-webkit-input-placeholder {
                color: #333333;
            }
        }

        .btn {
            display: inline-block;
            background-color: #d43235;
            color: #fff;
            width: 80px;
            height: 52px;
            background-image: url(./images/search2.png);
            background-repeat: no-repeat;
            vertical-align: middle;
            background-position: center;
            cursor: pointer;
        }
    }
}


.content {
    background-color: #eaeaea;
    width: 852px;
    padding: 36px 40px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .title {
            color: #333333;
            font-size: 36px;

            span {
                display: inline-block;
                padding-right: 26px;
                background: url(./images/sj2.png) no-repeat right bottom;
            }
        }

        .search {
            width: 280px;
            height: 42px;
            font-size: 0;
            border-radius: 5px;
            overflow: hidden;

            input {
                display: inline-block;
                width: 230px;
                background-color: #fff;
                height: 42px;
                padding: 0 12px;
                color: #333333;
                font-size: 14px;
                vertical-align: middle;
            }

            .btn {
                display: inline-block;
                background-color: #d43235;
                color: #fff;
                width: 50px;
                height: 42px;
                background-image: url(./images/search2.png);
                background-repeat: no-repeat;
                vertical-align: middle;
                background-position: center;
                cursor: pointer;
            }
        }

        .province {
            position: relative;

            .item {
                color: #333333;
                font-size: 34px;
                cursor: pointer;
                position: relative;
                z-index: 9;

                span {
                    display: inline-block;
                    padding-right: 26px;
                    background: url(./images/sj2.png) no-repeat right bottom;
                }
            }

            .itemlist {
                position: absolute;
                top: 56px;
                left: 0;
                background-color: #fff;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                padding: 10px;
                min-width: 120px;
                max-height: 268px;
                height: 0;
                overflow: auto;
                border: 1px solid #fafafa;
                transition: all .5s ease;
                opacity: 0;
                visibility: hidden;
                z-index: 2;

                a {
                    display: block;
                    color: #333;
                    font-size: 16px;
                    line-height: 2;
                    white-space: nowrap;

                    &.active {
                        color: #cc0000;
                    }
                }

                &.down {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }

        }
    }

    .list {
        margin: 0 -8px;
        max-height: 584px;
        overflow: auto;

        li {
            float: left;
            width: 50%;
            padding: 0 8px;
            margin-bottom: 12px;

            .ww {
                background-color: #fff;
                padding: 30px 26px;

                .name {
                    color: #000000;
                    font-size: 18px;
                    margin-bottom: 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .txt {
                    color: #666666;
                    font-size: 14px;
                    line-height: 2;
                    height: 84px;
                    overflow: hidden;
                }
            }
        }
    }

    .allnum {
        color: #666;
        font-size: 16px;

        span {
            color: #cc0000;
        }
    }
}