.history {
    background-image: url(./images/hbg4.png);
    // background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 90px 20px 84px;
    overflow: hidden;

    .wrap {
        max-width: 1272px;
        margin: 0 auto;
    }

    .hbox1 {
        text-align: center;
        margin-bottom: 50px;

        img {
            width: auto;
            max-width: 80%;
        }
    }

    .hbox {
        padding: 32px 66px;
        margin-top: 40px;
        background-image: url(./images/hbg0.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;

        .state {
            color: #333333;
            font-size: 18px;
            line-height: 1.8;
        }

        .timg {
            margin-bottom: 16px;
        }

        .left_pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background: url(./images/nbg.png) repeat;
            transition: all 1.5s ease .1s;
        }

        .right_pic {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background: url(./images/nbg.png) repeat;
            transition: all 1.5s ease .1s;
        }

        &[class*='slidering'] {
            .right_pic {
                right: -50%;
            }

            .left_pic {
                left: -50%;
            }
        }
    }

    .hbox2 {
        padding: 20px 68px 24px 66px;
        position: relative;
        .wz {
            overflow: hidden;
            padding-left: 60px;
            padding-top: 20px;
        }

        .timg {
            margin-bottom: 24px;
        }
        .chuan{
            position: absolute;
            right: -150px;
            top: 40%;
            z-index: 9;
        }
    }

    .hbox3 {
        padding: 25px 84px;

        .wz {
            padding-right: 88px;
            overflow: hidden;
            padding-top: 24px;
        }
    }

    .hbox4 {
        padding-top: 62px 90px 62px 50px;

        .wz {
            overflow: hidden;
            padding-left: 40px;
        }

        .title {
            width: 70px;
            border-right: 2px solid #e6d9c8;
            height: 270px;
        }
    }

    .hbox6 {
        background-image: url(./images/hbg00.png);
    }
}
@media screen and (max-width: 1480px) {
    .history{
        .wrap {
            max-width: 1000px;
            margin: 0 auto;
            .hbox{
                .state {
                    font-size: 16px;
                    line-height: 1.6;
                }
                .timg {
                    img{
                        height: 34px;
                    }
                }
            }
        }

    }
}
