.product_detail {
    padding: 56px 0 50px;
}

.product_detail .pic {
    width: 562px;
    position: relative;
}

.product_detail .picswiper {
    position: relative;
    overflow: hidden;
    padding: 60px 20px 40px;
    background-color: #fff;
}

.product_detail .picswiper li {
    text-align: center;
}

.product_detail .picswiper .swiper-pagination {
    bottom: -4px;
}

.product_detail .picswiper .swiper-pagination-bullet {
    width: 78px;
    height: 2px;
    background-color: #999999;
    border-radius: 0;
    margin: 0 5px;
    opacity: 1;
}

.product_detail .picswiper .swiper-pagination-bullet-active {
    background-color: #d43235;
}

@media screen and (max-width: 1480px) {
    .product_detail .pic {
        width: 40%;
        position: relative;
        padding: 0 20px;
        background-color: #fff;
    }
    .product_detail .picswiper li img{width: 100%;}
    .product_detail .picswiper{padding: 40px 0;}
}
