.contactus {
    background-image: url(./images/cbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 20px 0;

    .wrap {
        max-width: 1224px;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .title {
        text-align: center;
        color: #c0494b;
        font-size: 36px;
        margin-bottom: 26px;
    }

    .state {
        text-align: center;
        color: #666666;
        font-size: 18px;
        line-height: 1.8;
        margin-bottom: 78px;
    }

    .left {
        width: 30%;

        li {
            margin-bottom: 11px;

            .ww {
                background-color: rgba(255, 255, 255, .6);
                padding: 30px 10px 30px 20px;
                color: #888888;
                font-size: 18px;
                line-height: 2;

                .t1 {
                    font-size: 24px;
                    color: #333333;
                    margin-bottom: 10px;
                }

                .t2 {
                    font-size: 16px;
                }

                p+p {
                    margin-top: 10px;
                }

                .btn {
                    width: 190px;
                    height: 54px;
                    line-height: 54px;
                    text-align: center;
                    color: #328fee;
                    font-size: 20px;
                    border-radius: 54px;
                    box-shadow: 0px 4px 6px 0px rgba(184, 184, 184, .6);
                    display: block;
                    margin-top: 24px;
                }
            }

            .ww2 {
                .t1 {
                    margin-bottom: 18px;
                }

                p+p {
                    margin-top: 21px;
                }
            }
        }
    }

    .left+.left {
        margin-left: 10px;
    }

    .right {
        overflow: hidden;
        padding-left: 10px;

        .weibo {
            background-color: rgba(255, 255, 255, .6);
            padding: 22px 28px;
            margin-bottom: 11px;

            a {
                display: inline-block;
                width: 50%;
                text-align: center;
                text-decoration: none;
            }

            img {
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }

            span {
                display: block;
                font-size: 16px;
                padding-top: 14px;
                color: #333333;
            }

            p {
                color: #888888;
                font-size: 18px;
            }
        }

        .code {
            background-color: rgba(255, 255, 255, .6);
            padding: 28px;

            .img {
                display: inline-block;
                width: 50%;
                text-align: center;

                // &+.img {
                //     margin-left: 56px;
                // }

                img {
                    width: 140px;
                    height: 140px;
                }

                p {
                    text-align: center;
                    color: #333333;
                    font-size: 16px;
                    margin-top: 8px;
                }
            }
        }
    }
}

.modelcontent {
    text-align: center;

    p {
        font-size: 20px;
    }
}