.joinus {
    padding: 44px 20px;
    background-image: url(./images/joinbg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .wrap {
        max-width: 1280px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        margin-bottom: 32px;
        color: rgba(0, 0, 0, .3);
        font-size: 30px;

        span {
            display: inline-block;
            color: #000;
        }
    }

    .search {
        width: 600px;
        font-size: 0;
        height: 52px;
        background-color: #fff;
        border-radius: 52px;
        margin: 0 auto 40px;

        input {
            vertical-align: middle;
            width: 528px;
            height: 52px;
            border-radius: 52px;
            padding: 0 24px;
            background-color: #fff;
            display: inline-block;
            color: #666666;
            font-size: 16px;
            border: none;
        }

        button {
            display: inline-block;
            width: 72px;
            background-image: url(./images/search3.png);
            background-position: center;
            background-repeat: no-repeat;
            height: 52px;
            border-radius: 52px;
            border: none;
            outline: none;
            background-color: #fff;
            vertical-align: middle;
        }
    }

    .left {
        width: 300px;
        background-color: rgba(255, 255, 255, .9);

        .tt {
            padding: 20px;
            color: #666666;
            font-size: 14px;
            font-weight: bold;
        }

        li {
            cursor: pointer;
            padding: 12px 74px 12px 45px;
            position: relative;
            color: #666666;
            font-size: 14px;
            background-image: url(./images/rr2.png);
            background-repeat: no-repeat;
            background-position: 88% center;
            transition: all .3s ease;

            &::after {
                content: "";
                width: 4px;
                background-color: #d43235;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: none;
            }

            &.cur {
                background-color: #fff;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .1);

                &::after {
                    display: block;
                }
            }

            &:hover {
                background-color: #fff;
            }
        }
    }

    .rightcon {
        overflow: hidden;
        padding-left: 12px;

        .ww {
            background-color: rgba(255, 255, 255, .9);
        }

        .tabs {
            padding: 0 30px 0 45px;
            border-bottom: 1px solid #efefef;
            position: relative;

            a {
                display: inline-block;
                color: #666666;
                font-size: 14px;
                margin-right: 45px;
                height: 56px;
                line-height: 56px;

                &.cur,
                &:hover {
                    color: #0066cc;
                }
            }

            .number {
                position: absolute;
                right: 30px;
                top: 0;
                height: 56px;
                line-height: 56px;
                color: #666666;
                font-size: 14px;

                span {
                    color: #d43235;
                }
            }
        }

        .signs {
            padding: 10px;
            span {
                display: inline-block;
                color: #333333;
                font-size: 14px;
                background-color: #d9d9d9;
                height: 27px;
                line-height: 27px;
                border-radius: 27px;
                padding: 0 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                &.cur{
                    background-color: #d43235;
                    color: #fff;
                }
            }
        }

        .list {
            padding: 0 40px 20px;

            li {
                padding: 20px 0;
                border-bottom: 1px solid #eeeeee;
            }

            .posi {
                max-width: 30%;

                .t1 a {
                    color: #000000;
                    font-size: 18px;
                    margin-bottom: 15px;
                    display: block;

                    &:hover {
                        color: #d43235;
                    }
                }

                .t2 {
                    color: #666666;
                    font-size: 16px;

                    span {
                        color: #d43235;
                    }
                }
            }

            .state {
                max-width: 58%;
                display: flex;
                align-items: center;
            }

            .ts {
                color: #cccccc;
                font-size: 14px;
                text-align: right;

                span {
                    color: #333333;
                    font-size: 14px;
                }

                p+p {
                    margin-top: 12px;
                }
            }

            .btn {
                display: block;
                width: 90px;
                height: 40px;
                color: #fff;
                font-size: 14px;
                background-color: #d43235;
                border-radius: 40px;
                line-height: 40px;
                text-align: center;
                margin-left: 28px;
            }
        }
    }
}