/* tab动态增加动画 */
.tabs-wrap-enter {
    opacity: 0.01;
}

.tabs-wrap-enter.tabs-wrap-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.tabs-wrap-leave {
    opacity: 1;
}

.tabs-wrap-leave.tabs-wrap-leave-active {
    opacity: 0.01;
    transition: all 500ms ease-in;
}

.mainindex {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
}

.sssub .swiper-button-next:focus {
    outline: 0;
    border: none;
}

.sssub .swiper-button-prev:focus {
    outline: 0;
    border: none;
}

.sssub .swiper-button-next.disabled {
    opacity: 0;
}

.sssub .swiper-button-prev.disabled {
    opacity: 0;
}