.museum {
    .mbox1 {
        padding: 65px 20px 636px;
        background-image: url(./images/hbg1.png);
        background-repeat: no-repeat;
        background-size: auto 600px;
        background-position: center bottom;

        .brief {
            max-width: 918px;
            margin: 0 auto;
            color: #444;
            font-size: 16px;
            line-height: 1.7;
            text-align: center;
        }
    }

    .title {
        text-align: center;
        font-size: 36px;
        color: #c0494b;
        margin-bottom: 22px;
    }

    .mbox2 {
        background-image: url(./images/mmbg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 120px 20px 150px;

        .wrap {
            max-width: 1274px;
            margin: 0 auto;
        }

        .left {
            width: 146px;
            position: relative;
            padding-top: 195px;
            padding-left: 34px;

            .title {
                position: absolute;
                left: -78px;
                top: 90px;
                margin: 0;
            }

            .tabs {
                a {
                    display: block;
                    color: #000000;
                    font-size: 18px;
                    line-height: 32px;
                    margin-bottom: 46px;
                    background-repeat: no-repeat;
                    background-position: right center;

                    &:hover {
                        color: #c0494b;
                    }
                }

                .active {
                    background-image: url(./images/sj.png);
                    color: #c0494b;
                    font-weight: bold;
                }
            }
        }

        .right {
            overflow: hidden;
            padding-left: 18px;
        }

        .pic {
            overflow: hidden;
            position: relative;
            display: none;
            .img {
                width: 100%;
                transition: all ease .6s;
            }
            &.open{display: block;}
        }

        .con {
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 9;
            bottom: 0;
            padding: 26px 60px;
        }

        .tt {
            color: #e1e1e1;
            font-size: 30px;
            margin-bottom: 18px;
        }

        .brief {
            color: #e1e1e1;
            font-size: 16px;
            line-height: 1.7;
        }
    }

    .mbox3 {
        border-top: 1px solid #b9b9b9;
        padding: 65px 20px 0;
        background-image: url(./images/mmbg.png);
        background-repeat: no-repeat;
        background-size: cover;

        .img {
            text-align: center;
            padding-bottom: 50px;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .mbox2{
        .wrap {
            max-width: 1200px;
            padding-left: 80px;
            .left{
                padding-top: 110px;
                .title{
                    top: 40px;
                }
                .tabs{
                    a{
                        margin-bottom: 20px;
                    }
                }
            }
            .con{
                padding: 20px 30px;
            }
            .tt{font-size: 24px;}
            .brief{font-size: 14px;line-height: 1.5;}
        }
    }
}
